:root{
    --standar-border: 1px solid rgb(103, 103, 104);
    --icon-color: rgb(100, 100, 100);
    --icon-hover-color: rgb(0,0,0);
    --navbar-bacground: rgb(253, 253, 253);
    --body-bacground: #F3F2EF;
    --active-link: rgb(0,0,0);
   --standar-padding-container: 0.5rem 1rem;
   --openside-padding-container: 1rem 2rem;
   --margin-container: 1rem;
   --icon-size-phone: 18px;
    --icon-size-large: 22px;
    --img-size-large: 40px;
    --img-size-phone: 35px;
    --img-size-phone-small: 30px;
    --user-img-phone: 20px;
    --div-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px; 
    --trans-duration: 0.5s;


}

/* header icon link */
body{
    background: var(--body-bacground);
    transition: var(--trans-duration);
}
.container{
    height: 5rem;
    background: var(--navbar-bacground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    
    
}
.container .links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    transition: var(--trans-duration);
  
}
.container .links ul li {
    list-style: none;

}
.container .links ul li span {
    white-space: wrap;
    font-weight: 600;
    width: 6rem;
    color: var(--icon-color);
    margin-top: 10px;
}
.container .links ul li a{
    text-decoration: none;
    color: var(--icon-color);
}
.container .links ul li a:hover{
    color: var(--icon-hover-color);
}
.container .links ul li a i {
   color: var(--icon-color);
 
}
.container .links ul li a:hover i {
    color: var(--icon-hover-color);
    
}
.container .links .logo{
    width: var(--img-size-large);
    height: var(--img-size-large);
}
.container .links nav ul li .iconDiv{
    position: relative;
    align-items: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    text-decoration: none;
 

}
.container .links nav ul li .iconDiv i{
 margin-bottom: 1rem;
}
.container .links nav ul li .iconSpan{
    position: absolute;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
}
.container .links ul li .active i, 
.container .links ul li .active span {
   color: var(--active-link);
 }
 .container .links ul li .active span{
    padding-bottom: 0.90rem;
    border-bottom: 3px solid black;
    transition:  0.2s ;
 }
 .container .links ul li .userImg{
    width: var(--img-size-large);
    height:var(--img-size-large);
    border-radius: 100%;
}
.container .links .userDownBtn{
    outline: none;
    border: none;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 0.2rem;
    background: var(--navbar-bacground) ;
    color: var(--icon-color);
    position: relative;
 }
 .container .links ul li .userDownBtn span{
    
    position: absolute;
    width: 1rem !important;
    right: 1px;    
    top: 0 rem;
    margin-top: 0rem !important; 
}
.container .links ul li .userDownBtn i {
    position: absolute;
    left: 2rem;
    top: 0rem;
 }
 .container .links ul li .altLink{
    position: absolute;
  
 } 
  .container .links .altLink{
    left: 0px ;
    right: 0px;
}
 .userDiv {
    display: none;
}


 /* open nav dots */

.openSideBar .navbarFirstItem,
.openSideBar .navbarSecondItem,
.openSideBar .navbarThreeItem,
.openSideBar .navbarFourItem,
.openSideBar .navbarLastItem{
    display: none;
    transition: var(--trans-duration);
}

.openSideBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
    background: var(--navbar-bacground);
    padding: var(--openside-padding-container);
    border-radius: 5px 1px 5px 5px ;
   box-shadow: var(--div-shadow) ;

} 

.container .links nav ul li i::before {
    transition: 1.5s;
}
.container .links nav ul li i::after {
    transition: 1.5s;
}
.container .userDiv .userImg {
    width: 22px !important ;
    height: 22px !important;
}


/* work for sidebar */
 
.showSidebar{
    position: absolute;
    height: 100%;
}

.showSidebar .sideBarContainer {
    cursor: default;
    position: fixed;
    top: 5rem;
    width: 20rem;
    right: 0rem;
    background: var(--body-bacground);
    border: var(--standar-border);
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.showSidebar .sideBarContainer h3{
    text-align: start;
    padding: var(--standar-padding-container);
    right: 8rem;
    position: relative;
} 
.showSidebar .sideBarContainer .sideBarContainerFirst,
.showSidebar .sideBarContainer .sideBarContainerSecond {
    border-radius: 5px;
    width: 16rem;
    border:  var(--standar-border);
    padding: var(--standar-padding-container);
}
.showSidebar .sideBarContainer .sideBarContainerSecond ul{
    flex-direction: column;
    align-items: self-start;
    display: flex;
    gap: 0rem;
    width: 100%;
    position: relative;
    gap: 0.4rem;
    right: 2rem;
}
.showSidebar .sideBarContainer .sideBarContainerSecond ul li span{
    white-space: nowrap;
    justify-content: start;
}
.showSidebar .sideBarContainer .insideSidebarHeader{
    border-bottom: var(--standar-border);
    padding-bottom: 1rem ;
}
.showSidebar .sideBarContainer .firsDivInsideItem{
    margin-top: 1rem;
}
.showSidebar .sideBarContainer .sideBarContainerFirst ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0rem;
    width: 100%;
    position: relative;
    gap: 0.4rem;
    right: 2rem;
}

.showSidebar .sideBarContainer .sideBarContainerFirst ul li i {
    padding: 0.5rem;
    border-radius: 4px;
    border: var(--standar-border);
}
.showSidebar .sideBarContainer .sideBarContainerFirst ul li{ 
    width: 3rem;   
}
.showSidebar .sideBarContainer .sideBarContainerFirst ul li h6{ 
    color: var(--icon-color);
    margin-top: 0.5rem;   
}
.showSidebar .sideBarContainer .sideBarContainerFirst  ul li span {
    font-size: 10px;
}

@media  (max-width: 300px){

    .userDiv{
        display:flex;
    }
    .userDiv span{
        display: flex;
    }
    .navbarFirstItem ,
    .navbarSecondItem,
    .navbarThreeItem ,
    .navbarFourItem,
    .navbarLastItem{
        display: none;
        transition: var(--trans-duration);
    }
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarFourItem, 
    .openSideBar .navbarLastItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .links .logo {
            width: var(--img-size-phone-small) ;
            height: var(--img-size-phone-small) ;
         
     }
     .container nav{
        left: 20px;
        position: absolute;
    }
    .container .links{
        width: 95%;
         padding-right: 0rem; 
    }
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
  
    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-phone);
       
    }
   
  
}

@media ( min-width: 300px) and (max-width: 340px){

    .userDiv{
        display:flex;
    }
    .userDiv span{
        display: flex;
    }
    .container .links nav ul li  img{
        width: 22px !important ;
        height: 22px !important;
    }
    .navbarFirstItem ,
    .navbarSecondItem,
    .navbarThreeItem ,
    .navbarFourItem,
    .navbarLastItem{
        display: none;
        transition: var(--trans-duration);
    }
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarFourItem, 
    .openSideBar .navbarLastItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);      
     }
     .container nav{
        left: 20px;
        position: absolute;
    }
    .container .links{
        width: 95%;
         padding-right: 0rem; 
    }
    
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
  
    .container .links ul li button span{
        display: block;
    }
    .container .links ul li span {
        display: none;
    }
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex ;
        flex-direction: column;
    }
    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-phone);     
    }
    .container .links nav ul li .navbarThreeItem .userDownBtn{
        display: none;
    } 
    .container .links nav ul li  .phoneDot{
        display: none;
    } 
}

@media ( min-width: 340px) and (max-width: 360px){
    .userDiv{
        display:flex;
    }
    .userDiv span{
        display: flex;
    }
    .navbarFirstItem ,
    .navbarSecondItem,
    .navbarThreeItem ,
    .navbarFourItem{
        display: none;
        transition: var(--trans-duration);
    }
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarFourItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);      
     }
     .container nav{
        left: 20px;
        position: absolute;    
    }
    .container .links{
        width: 94%;
         padding-right: 0rem; 
    }
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
    .container .links ul li button span{
        display: block;
    }
    .container .links ul li span {
        display: none;
        white-space: wrap;
        font-weight: 600;
        width: 6rem;
        color: var(--icon-color);
        margin-top: 10px;
    }
    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-phone);    
    }
    .container .links nav ul li .navbarThreeItem .userDownBtn{
        display: none;
    }  
    .container .links nav ul li  .phoneDot{
        display: none;

    }
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex ;
        flex-direction: column;
    }
    .container .userDiv .userImg {
        width: 22px !important ;
        height: 22px !important;
    }


}


/* this media quer import for feature  */
@media ( min-width: 360px) and (max-width: 420px){

    /* response nav */

    .userDiv{
        display:flex;
    }
    .userDiv span{
        display: flex;
    }
    .navbarFirstItem,
    .navbarSecondItem,
    .navbarThreeItem{
        display: none;
        transition: var(--trans-duration);
    }
    .container nav{
        left: 20px;
    }
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
        transition: var(--trans-duration);
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);
           
     }
    
    .container .links{
        width: 95%;
         padding-right: 0rem; 
    }
    .container .altLink {
        left: 0px;
        right: 0px;
    }
    .container .links ul{
        gap: 1.8rem
    }
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
      .container .links ul li .navbarThreeItem .altLink span{
        display: flex ;
        flex-direction: column;
    }
  
  
    .container .links ul li button span{
        display: block;
    }
    .container .links ul li span {
        display: none;
       
    }

    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-phone);
       
    }
    .container .links nav ul li .navbarThreeItem .userDownBtn{
        display: none;
    }
   
    .container .links nav ul li  .phoneDot{
        display: none;

    }
   /* response nav end */
   .container .userDiv .userImg {
    width: 22px !important ;
    height: 22px !important;
}

}
@media ( min-width: 420px) and (max-width: 450px){
    nav ul {
        gap: 2rem !important;
    }
    
    .userDiv{
        display:flex;
    }
  
    .userDiv span{
        display: flex;
    }

    .navbarFirstItem,
    .navbarSecondItem,
    .navbarThreeItem{
        display: none;
        transition: var(--trans-duration);
    }
    .container .altLink {
        left: 0px;
        right: 0px;
    }
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex ;
        flex-direction: column;
    }

    .openSideBar .navbarThreeItem,
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);
           margin: var(--margin-container);
     }

     .container nav{
        left: 20px;
      
    }
    .container .links{
        width: 94%;
         padding-right: 0rem; 
    }
    

    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
  
  
    .container .links ul li button span{
        display: block;
    }
    .container .links ul li span {
        display: none;
        white-space: wrap;
        font-weight: 600;
        width: 6rem;
        color: var(--icon-color);
        margin-top: 10px;
    }

    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-large);
       
    }
    .container .links nav ul li .navbarThreeItem .userDownBtn{
        display: none;
    }
   
    .container .links nav ul li  .phoneDot{
        display: none;

    }
    .container .userDiv .userImg {
        width: 22px !important ;
        height: 22px !important;
    }

}

 @media ( min-width: 450px) and (max-width: 500px){
   
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex ;
        flex-direction: column;
    }
     .navbarFirstItem{
        display: none;
     }
    .openSideBar .navbarThreeItem,
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
    }
    .container .logo{
        width: var(--img-size-phone);
        height: var(--img-size-phone);
       margin: var(--margin-container);
 }
.container .links{
    width: 100%;
     padding-right: 0rem; 
}
.container .links nav ul{
    gap: 1.5rem;
}
.container .links nav ul li .iconDiv .inputDiv input{
    display: none;
  }

.container .links ul li button span{
    display: block;
}
.container .links ul li span {
    display: none;
    white-space: wrap;
    font-weight: 600;
    width: 6rem;
    color: var(--icon-color);
    margin-top: 10px;
}

.container .links nav ul li .iconDiv i{
    margin-bottom: 0rem;
    font-size: var(--icon-size-large);
   
}
.container .links nav ul li .navbarThreeItem .userDownBtn{
    display: none;
}

.container .links nav ul li  .phoneDot{
    display: none;

}
.container .links ul li .navbarThreeItem .altLink span{
    display: flex ;
    flex-direction: column;
}
.container .userImg { 
    width: 22px !important ;
    height: 22px !important;
}
.container .links ul li .userDownBtn{
    margin-top: -3px;
}
.container .links ul li .userDownBtn span{
    display: none;
   
}

.container .userDownBtn i  {
 display: none;
}
.phoneDot{
    display: none;
}

} 



@media ( min-width: 500px) and (max-width: 600px){
    nav{
        margin-right: 2rem;
    }
    nav ul {
        gap: 2rem !important;
    }
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex  !important;
        flex-direction: column;
    }
     .navbarFirstItem{
        display: none;
    }
    
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);
           margin: var(--margin-container);
     }

    .container .links{
         width: 100%;
         padding-right: 0rem; 
         justify-content: center;
       
    }
    
  
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
   
    .container .links ul li span {
        display: none;
        white-space: wrap;
        font-weight: 600;
        width: 6rem;
        color: var(--icon-color);
        margin-top: 10px;
    }

    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-large);
       
    }
    .container .links nav ul li .userDownBtn i {
        display: none;
    }
    .container .links nav ul li  img{
        width: 22px;
        height: 22px;
        margin-top: 3px;
    }
   
     .phoneDot{
        display: none ;

    }
    .container .links nav ul li .navbarThreeItem .altLink{
        left: 0;
        right: 0;
    }
   .navbarThreeItem .altLink img{
    width: var(--img-size-large) !important;
    height:  var(--img-size-large) !important;
   }
   .navbarThreeItem .altLink div span {
    display: flex;
   }
   .container .userImg { 
    width: 22px !important ;
    height: 22px !important;
}

}

 @media  ( min-width: 600px) and (max-width: 800px) {

    nav ul {
        gap: 2.5rem !important;
    }
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex  !important;
        flex-direction: column;
    }
     .navbarFirstItem{
        display: none;
    }
    
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
    }
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);
           margin: var(--margin-container);
     }

    .container .links{
        width: 100%;
         padding-right: 0rem; 
         justify-content: center;
         transition: var(--trans-duration);
    }
    
  
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
   
    .container .links ul li span {
        display:none;
        white-space: wrap;
        font-weight: 600;
        width: 6rem;
        color: var(--icon-color);
        margin-top: 10px;
    }

    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-large);
       
    }
    .container .links nav ul li .userDownBtn i {
        display: none;
    }
    .container .links nav ul li  img{
        width: 22px;
        height: 22px;
        margin-top: 3px;
    }
   
    .container .links nav ul li .navbarThreeItem .altLink{
        left: 0;
        right: 0;
    }
   .navbarThreeItem .altLink img{
    width: var(--img-size-large) !important;
    height:  var(--img-size-large) !important;
   }
   .navbarThreeItem .altLink div span {
    display: flex;
   }
   .container .userImg { 
    width: 22px !important ;
    height: 22px !important;}

    .phoneDot{
        display: none ;

    }
 }
 @media ( min-width: 800px) and (max-width: 1200px){
   
    nav{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    nav ul {
        gap: 3.5rem !important;
    }
    nav ul span{
        font-size: 12px;
    }
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex  !important;
        flex-direction: column;
    }
  
    
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
       
    }
    .navbarThreeItem{
        margin-top: 1.5rem;
    }
   
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);
            margin-top: 1rem;
           margin-left: 1rem;
           margin-bottom: 2rem;
     }

    .container .links{
        width: 100%;
         padding-right: 0rem; 
       
         transition: var(--trans-duration);
    }
    
  
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
   
    .container .links ul li span {
        display:flex;
        white-space: wrap;
        font-weight: 600;
        width: 6rem;
        color: var(--icon-color);
        margin-top: 10px;
        justify-content: center;
    }

    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-large);
       
    }
    .container .links nav ul li .userDownBtn span{
        display: flex;
        top: 0px;
        position: relative;
        right: 10px;
    }
    .container .links nav ul li .userDownBtn i {
        display: flex;
        left: 1.4rem;
        top: 10px;
    }
    .container .links nav ul li  img{
        width: 22px;
        height: 22px;
        margin-top: 3px;
    }
   
   
    .container .links nav ul li .navbarThreeItem .altLink{
        left: 0;
        right: 0;
    }
   .navbarThreeItem .altLink img{
    width: var(--img-size-large) !important;
    height:  var(--img-size-large) !important;
   }
   .navbarThreeItem .altLink div span {
    display: flex;
   }
   .container .links ul li .userDownBtn {
    padding-top: 15px ;
   }
   .container .userImg { 
    width: 22px !important ;
    height: 22px !important;}

    .navbarFirstItem span{
        display: flex;
        margin-right: 1rem;
    }
    .phoneDot{
        display: none ;

    }
    .showSidebar .sideBarContainer .sideBarContainerFirst ul {
        gap: 0.4rem !important;
    }
   

    
 }
 @media (min-width: 1000px){
    .container .links nav ul li .inputDiv{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        border-radius: 11px;
        width: 15rem;
        margin-right: 2rem;
       
    } 
    .container .links nav ul li .inputDiv i {
        position: relative; 
        left: 5px;
        top: 20px;
        color: var(--icon-color);
    }
    .container .links nav ul li .inputDiv i:hover{
        color: var(--icon-hover-color);
    }
  .container .links nav ul li .inputDiv input{
    display: flex !important;
    flex-direction: row;
    height: 1.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    outline: none;
    border: none;
  }
  .phoneDot{
    display: none ;

}
 }
    
 
 @media ( min-width: 1200px) {
    
    nav{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    nav ul {
        gap: 3.5rem !important;
    }
    nav ul span{
        font-size: 12px;
    }
    .container .links{
        justify-content: center;
        gap: 2rem;
    }   
    .container .links ul li .navbarThreeItem .altLink span{
        display: flex  !important;
        flex-direction: column;
    }
    .openSideBar .navbarSecondItem,
    .openSideBar .navbarThreeItem{
        display: flex;
    }
    .openSideBar .navbarThreeItem img{
        width:  var(--user-img-phone);
        height: var(--user-img-phone);
       
    }
    .navbarThreeItem{
        margin-top: 1.5rem;
    }
   
    .container .logo{
            width: var(--img-size-phone);
            height: var(--img-size-phone);
            margin-top: 1rem;
           margin-left: 1rem;
           margin-bottom: 2rem;
     }

    .container .links{
        width: 100%;
         padding-right: 0rem; 
       
         transition: var(--trans-duration);
    }
    
  
    .container .links nav ul li .iconDiv .inputDiv input{
        display: none;
      }
   
    .container .links ul li span {
        display:flex;
        white-space: wrap;
        font-weight: 600;
        width: 6rem;
        color: var(--icon-color);
        margin-top: 10px;
        justify-content: center;
    }

    .container .links nav ul li .iconDiv i{
        margin-bottom: 0rem;
        font-size: var(--icon-size-large);
       
    }
    .container .links nav ul li .userDownBtn span{
        display: flex;
        top: 0px;
        position: relative;
        right: 10px;
    }
    .container .links nav ul li .userDownBtn i {
        display: flex;
        left: 1.4rem;
        top: 10px;
    }
    .container .links nav ul li  img{
        width: 22px;
        height: 22px;
        margin-top: 3px;
    }
   
    .container .links nav ul li .navbarThreeItem .altLink{
        left: 0;
        right: 0;
    }
   .navbarThreeItem .altLink img{
    width: var(--img-size-large) !important;
    height:  var(--img-size-large) !important;
   }
   .navbarThreeItem .altLink div span {
    display: flex;
   }
   .container .links ul li .userDownBtn {
    padding-top: 15px ;
   }
   .container .userImg { 
    width: 22px !important ;
    height: 22px !important;}

    .navbarFirstItem span{
        display: flex;
        margin-right: 1rem;
    }
    .phoneDot{
        display: none ;

    }
 }
