:root{
    --icon-color: rgb(100, 100, 100);
    --icon-hover-color: rgb(0,0,0);
    --icon-size: 50px;
    --navbar-bacground: rgb(253, 253, 253);
    --body-bacground: #F3F2EF;
    --active-link: rgb(0,0,0);
    --img-size: 40px;;
}

/* header icon link */
body{
    background: var(--body-bacground);
}

.container{
    height: 5rem;
    background: var(--navbar-bacground);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: center;
    width: 98%;    
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    padding-right: 5%;
    
}

.links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}

.links ul li {
    list-style: none;

}
.links ul li span {
    white-space: wrap;
    font-weight: 600;
    width: 6rem;
    color: var(--icon-color);
    margin-top: 10px;
}
.links ul li a{
    text-decoration: none;
    color: var(--icon-color);
}
.links ul li a:hover{
    color: var(--icon-hover-color);
}

.links ul li a i {
   color: var(--icon-color);
  
  
   
}
.links ul li a:hover i {
    color: var(--icon-hover-color);
    
 }

.logo{
    width: var(--icon-size);
    height: var(--icon-size);
}
.iconDiv{
    position: relative;
    align-items: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    text-decoration: none;
 

}


.iconDiv i{
 margin-bottom: 1rem;
}

.iconSpan{
    position: absolute;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
}

 .links ul li .active i, 
 .links ul li .active span {
   color: var(--active-link);
   
 }
 .links ul li .active span{
    
    padding-bottom: 0.90rem;
    border-bottom: 3px solid black;
    transition:  0.2s ;
 }
 .userImg{
    width: var(--img-size);
    height:var(--img-size);
    border-radius: 100%;
}



 .userDownBtn{
    outline: none;
    border: none;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 0.2rem;
    background: var(--navbar-bacground) ;
    color: var(--icon-color);
    position: relative;
 }
 .userDownBtn span{
    
    position: absolute;
    width: 1rem !important;
    right: 1px;    
    top: 0 rem;
    margin-top: 0rem !important; 
}
 .userDownBtn i {
    position: absolute;
    left: 2rem;
    top: 0rem;
 }

  .altLink{
   
    position: absolute;
    ;
 } 

